@font-face {
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

a, button {
  cursor: pointer;
}

body {
  font-family: "Roboto Regular";
  min-width: 350px;
  color: #404143;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  padding: 20px;
  text-align: right;
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #5f6368;
}

button {
  border: none;
  color: inherit;
}
button:hover {
  transform: scale(1.1);
}

.header-top ul li {
  display: inline-block;
  padding: 10px;
  position: relative;
}
.header-top ul li:hover {
  transform: scale(1.1);
}

.header-top ul li .dots-icon {
  width: 30px;
  height: 30px;
  background-image: url("/assets/icons/svgoptimizer/dots-icon-min.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
}

.popup {
  display: none;
  position: fixed;
  top: 11%;
  right: 1%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sign_in_btn {
  background-color: #4285f4;
  color: white;
  padding: 10px 30px;
}

.main_wrap {
  text-align: center;
  margin-top: 8%;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
}

.logo_wrap {
  width: 30%;
  max-width: 370px;
  margin: 0 auto;
  overflow: hidden;
}
.logo_wrap img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
}

.search-container {
  text-align: center;
  margin-top: 20px;
}

#search-input {
  width: 33.3%;
  height: 35px;
  border-width: 1px;
  border-radius: 50px;
  padding: 5px;
  border-color: lightgray;
  margin-bottom: 40px;
  padding-left: 35px;
  background-image: url("/assets/icons/svgoptimizer/search-104498-min.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
}

.main_wrap button, .sign_in_btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
}

.search_btns button {
  background-color: #d4d5d6;
  font-size: 0.875rem;
}

.input_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 34%;
  display: inline;
  padding-top: 5px;
}

.input_icons button {
  background-color: transparent;
  padding: 0;
}
.input_icons button svg {
  width: 25px;
  height: 25px;
}

.language-container {
  margin-top: 30px;
}
.language-container span {
  cursor: default;
}
.language-container select {
  border: none;
  color: blue;
  appearance: none;
  cursor: pointer;
}

footer {
  color: #929395;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.875rem;
  background-color: lightgrey;
}

footer div ul lia {
  transform: scale(1.1);
}

.ukraine {
  width: 100%;
  position: relative;
  padding: 20px;
  width: calc(100% - 40px);
}
.ukraine button {
  background-color: transparent;
  color: #929395;
  font-size: 0.875rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #929395;
}

.footer-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
}

.footer-left ul, .footer-right ul {
  display: flex;
}
.footer-left ul li:hover, .footer-right ul li:hover {
  transform: scale(1.1);
}

.footer-left ul li {
  margin-right: 20px;
}

.footer-right ul li {
  margin-left: 20px;
}